.logoimg img{
    height: 100px;
    width: 100px;
}
.styleicon{
    margin-left: 2%;
    background-color: white;
    padding: 5px;
    border-radius: 6px;
    color: black;
    border: 2px solid black;
}
.styleicon:hover{
   background-color: #f54c04;
   border:2px solid white;
   box-shadow: 0 1px 5px rgb(184, 168, 168);
}
