.logo img{
    height: 50px;
    width: 50px;
}

.dropdown{
    font-size: 20px;
    font-family: "EB Garamond", serif;
    background-color: green;
    border-radius: 5px;
    font-weight: 600;
}

.dropdown1{
    font-size: 20px;
    font-family: "EB Garamond", serif;
    background:green;
    margin-left:5px;
    border-radius:5px;
}   
@media screen and (max-width: 1000px) {
    .dropdown1 {
        margin-left: 0px !important;
        margin-top: 2px;
    }
}