.service-img{
    width: 250px;
    height: 250px;
}
.div-img{
    text-align: center;

}

.service-title{
    font-weight: bold;  
    text-align: center;
    text-transform: capitalize;
}

.service-descrip{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* Limit to 3 lines */
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: calc(1.2em*8);
        text-align: justify;
}

.service-description{
    font-weight: bold;
    margin-left: 5opx;
}
.service-body{
    margin-top: 20px;

}
      